* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Times, serif;
}

/* ****** */
/* HEADER */
/* ****** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  height: 6.4rem;
  padding: 0 4.8rem;
}

.logo {
  color: #f9faf8;
  font-weight: bolder;
  text-decoration: none;
  font-size: 24px;
}

.logo:link,
.logo:visited {
  transition: all 0.3s;
}

.logo:hover,
.logo:active {
  color: #e5e7ebdf;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #e5e7eb;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #cd853f;
}

/* *********** */
/* SECTION ONE */
/* *********** */

.first-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  height: 12.8rem;
  padding: 4.8rem 4.8rem;
}

.content-container-one {
  color: #f9faf8;
}

.main-header {
  font-weight: bolder;
  font-size: 48px;
}

.main-paragraph {
  max-width: 600px;
}

.btn {
  border: none;
  background: none;
  font-weight: bolder;
  border-radius: 6px;
  padding: 0;
  width: 120px;
}

.btn-blue {
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 12.5px;
  height: 25px;
}

.content-container-two {
  background-color: #6d757d;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 250%;
}

/* *********** */
/* SECTION TWO */
/* *********** */

.secondary-header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: bolder;
  color: #1f2937;
  font-size: 36px;
  margin-top: 36px;
}

.cunt {
}

.second-container {
  display: flex;
  height: 12.8rem;
  width: 4.8rem;
  padding: 2.4rem 2.4rem;
}

.placeholder-img {
  border: 4px solid #3882f6;
  border-radius: 12px;
  height: 100px;
  width: 100px;
}

.sub-paragraph {
  display: flex;
}

.worker-container {
}
